body {
  font-family: 'PT Sans';
font-size:16px;
padding-top:70px;

}
.navbar {
background-color:#020254;

}
.navbar .navbar-brand {
color:#fefefe;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
color:#fefefe;
}
.navbar-default .navbar-nav>li>a {
color:#fefefe;
}
 .fixedplace {
 position:fixed;
 top:70;
 list-style-type: none;
 }
 .fixedplace a {
 color:#bbb;
 padding-left:16px;
 }
  .fixedplace li {
 padding:3px;
 }

 .toc {
 color:#777;
 text-transform:uppercase;
 font-size:11px;
 font-weight:700;
 }
 .fixedplace li:hover {
 background-color:#f9f2f4;
 }
 .fixedplace a:hover {
 color:#c7254e;
 text-decoration:none;
 }
a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
.footer {
  background-color: #fff;
  color:#222;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #ffffff;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  white-space: nowrap;

}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
.highlight { background-color:#282c34; color:#abb2bf; font-size:12pt;}
.string { color: #98c379; }
.number { color: #d19a66; }
.boolean { color: #56b6c2; }
.null { color: #56b6c2; }
.key { color: #d19a66; }
*/

.highlight { background-color:#001b33; color:#ffffff; font-size:12pt;}
.string { color: #3ad900; }
.number { color: #d19a66; }
.boolean { color: #56b6c2; }
.null { color: #56b6c2; }
.key { color: #ffee80; }

